[submodule "home-project"]
	path = home-project
	url = git@github.com:rafaela-queiroz/home-project.git
[submodule "angular-project"]
	path = angular-project
	url = git@github.com:rafaela-queiroz/angular-project.git
[submodule "react-project"]
	path = react-project
	url = git@github.com:rafaela-queiroz/react-project.git
